<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="true"
      internalLogLevel="Off"
      internalLogFile="c:\logs\nlog-internal.log"
      globalThreshold="Trace">
  <!-- USE globalThreshold="Off" to turn off ALL tracing -->
  <!--new-eventlog -source eventLoggerLogs -logname eventLoggerLogs-->
  <extensions>
    <add assembly="Nlog.WindowsEventLog" />
  </extensions>

  <variable name="logRootFolder" value="c:\logs" />
  <variable name="applicationName" value="eventLoggerLogs" />

  <targets>
    <target xsi:type="EventLog"
            name="eventLog"
            log="${applicationName}"
            source="${applicationName}"
            layout="${callsite:className=true:includeNamespace=true:includeSourcePath=true:methodName=true:} ${message}${newline}${exception:format=ToString}" />
  </targets>

  <rules>
    <logger
      name="*"
      minlevel="Debug"
      writeTo="eventLog">
    </logger>
  </rules>
</nlog>